/*Availability Calendar Component*/
/*==== Custom Header ====*/
.availability_picker_custom_header_dt_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.availability_picker_custom_header_dt_arrow_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1.125rem 1.25rem;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    cursor: pointer;
}

.availability_picker_custom_header_dt_arrow {
    height: 0.938rem;
    width: auto;
}

/*==== Custom Header ====*/
/*==== Calendar Main Classes ====*/
.availability_container .react-datepicker {
    background-color: transparent;
}

.availability_container .react-datepicker__month-container {
    width: 100%;
}

.availability_container .react-datepicker__header {
    background-color: transparent !important;
}

.availability_container .react-datepicker__day-names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: unset !important;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

/*====Datepicker Classes ====*/
/*Availability Calendar Component*/

.availability_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.85rem 2.25rem 1.625rem 7.375rem;
    gap: 5.188rem;
}

.availability_info_card {
    display: flex;
    /*position: fixed;*/
    /*top: 9.60rem;*/
    /*right: 2.25rem;*/
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 2rem;
    height: 40rem;
    max-width: 33.25rem;
    width: 100%;
    gap: 1rem;
}

.block_selected_days_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.block_selected_days_input {
    background-color: #FBFBFB;
    padding: 1rem;
    border-radius: 8px;
}

.block_selected_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    max-width: 9.5rem;
    width: 100%;
    padding: 0.594rem;
    margin-left: auto;
    cursor: pointer;
}
