:root {
    --light-blue-color: #EEF3F6;
    --dark-text-color: #57574F;
    --grey-brown-color: #827E74;
    --light-grey-color: #B7B2A7;
    --blue-color: #518CB7;
    --very-dark-blue-color: #000029;
    --very-light-blue-color: #f6fbff;
    --grey-color: #A8A8A8;
    --grey-white-color: #E6E2DB;
    --faded-grey-color: #B9B9B9;
    --dark-blue-color: #05668C;
    --lime-green-color: #C5E300;
    --green-color: #A4BD00;
    --default-text-color: #4d4d4d;
}

/* Text Fonts */

* {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--default-text-color);
}

@media screen and (max-width: 991px) {
    * {
        font-size: 14px;
    }
}

/* Text rules */

h1 {
    font-size: 3.063rem;
    /* 49px */
    letter-spacing: 0px;
    line-height: 59px;
    text-transform: none;
}

h2 {
    font-size: 1.938rem;
    /* 31px */
    letter-spacing: 0px;
    line-height: 37px;
    text-transform: none;
}

h3 {
    font-size: 1.563rem;
    /* 25px */
    letter-spacing: 0px;
    line-height: 37px;
    text-transform: none;
}

h4 {
    font-size: 1.250rem;
    /* 20px */
    letter-spacing: 0px;
    line-height: 37px;
    text-transform: none;
}

h5 {
    font-size: 1.125rem;
    /* 18px */
    letter-spacing: 0px;
    line-height: 30px;
    text-transform: none;
}

h6 {
    font-size: 1rem;
    /* 16px */
    letter-spacing: 0px;
    line-height: 24px;
    text-transform: none;
}

/* Text Sizes */
.text-12px {
    font-size: 0.75rem !important;
}

.text-14px {
    font-size: 0.875rem !important;
}

.text-16px {
    font-size: 1rem !important;
}

.text-18px {
    font-size: 1.125rem !important;
}

.text-20px {
    font-size: 1.25rem !important;
}

.text-21px {
    font-size: 1.313rem !important;
}

.text-22px {
    font-size: 1.375rem !important;
}

.text-23px {
    font-size: 1.438rem !important;
}

.text-24px {
    font-size: 1.5rem !important;
}

.text-26px {
    font-size: 1.625rem !important;
}

.text-28px {
    font-size: 1.75rem !important;
}

.text-30px {
    font-size: 1.875rem !important;
}

.text-32px {
    font-size: 2rem !important;
}

.text-34px {
    font-size: 2.125rem !important;
}

.text-36px {
    font-size: 2.25rem !important;
}

.text-38px {
    font-size: 2.375rem !important;
}

.text-40px {
    font-size: 2.5rem !important;
}

.text-42px {
    font-size: 2.625rem !important;
}

/* Text Colours */

.text-light-blue {
    color: var(--light-blue-color) !important;
}

.text-dark-text {
    color: var(--dark-text-color) !important;
}

.text-grey-brown {
    color: var(--grey-brown-color) !important;
}

.text-light-grey {
    color: var(--light-grey-color) !important;
}

.text-blue {
    color: var(--blue-color) !important;
}

.text-very-dark-blue {
    color: var(--very-dark-blue-color) !important;
}

.text-grey {
    color: var(--grey-color) !important;
}

.text-grey-white {
    color: var(--grey-white-color) !important;
}

.text-faded-grey {
    color: var(--faded-grey-color) !important;
}

.text-dark-blue {
    color: var(--dark-blue-color) !important;
}

.text-lime-green {
    color: var(--lime-green-color) !important;
}

.text-green {
    color: var(--green-color) !important;
}

.text-default {
    color: var(--default-text-color) !important;
}

/* Background Colours */

/* Background Colours */

.bg-light-blue {
    background-color: var(--light-blue-color) !important;
}

.bg-dark-text {
    background-color: var(--dark-text-color) !important;
}

.bg-grey-brown {
    background-color: var(--grey-brown-color) !important;
}

.bg-light-grey {
    background-color: var(--light-grey-color) !important;
}

.bg-blue {
    background-color: var(--blue-color) !important;
}

.bg-very-dark-blue {
    background-color: var(--very-dark-blue-color) !important;
}

.bg-grey {
    background-color: var(--grey-color) !important;
}

.bg-grey-white {
    background-color: var(--grey-white-color) !important;
}

.bg-faded-grey {
    background-color: var(--faded-grey-color) !important;
}

.bg-dark-blue {
    background-color: var(--dark-blue-color) !important;
}

.bg-lime-green {
    background-color: var(--lime-green-color) !important;
}

.bg-green {
    background-color: var(--green-color) !important;
}

.bg-default {
    background-color: var(--default-text-color) !important;
}

/* Font Weights */

.font-heavy {
    font-weight: 900 !important;
}

.font-ex-bold {
    font-weight: 800 !important;
}

.font-bold {
    font-weight: 700 !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-ex-light {
    font-weight: 200 !important;
}

.font-thin {
    font-weight: 100 !important;
}


/* Background Colors */
.bg-very-light-blue {
    background-color: var(--very-light-blue-color) !important;
}

.ml-100 {
    margin-left: 100px;
}

/* Content wrapper class */

.wrapper {
    position: relative;
    width: 100%;
    max-width: var(--container_width);
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Header */

#header {
    position: sticky;
    top: 0;
    z-index: 2000;
    box-shadow: 0px 3px 6px #00000029;
}

#header .header-body {
    opacity: 1;
    flex-direction: column;
    background: #FFF;
    transition: min-height 0.3s ease;
}

#header .header-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: ease height 300ms;
    max-width: 1600px;
}

#header .header-row {
    flex-wrap: nowrap;
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    max-height: 100%;
}

#header .header-column {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
}

.header-logo {
    padding-top: 21px;
    padding-bottom: 21px;
}

.nav-link.active {
    position: relative;
    color: var(--blue-color) !important;
    /* Optional: Change color for active link */
}

.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 2px;
    background-color: var(--blue-color);
}

@media (min-width: 992px) {
    #header .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: stretch;
    }

    #header .header-nav-main {
        display: flex !important;
        height: auto !important;
    }
}

@media (max-width: 991px) {
    #header .header-nav {
        display: flex;
        align-items: center;
    }

    #header .header-container {
        padding: 0;
    }

    .header-logo {
        padding-left: 1rem;
    }

    .navbar {
        padding-right: 1rem !important;
    }

    .navbar-collapse.show,
    .navbar-collapse.collapsing {
        position: absolute;
        top: 63px;
        right: 0;
        width: 98vw;
        background: white;
        padding: 1rem;
        box-shadow: 0px 3px 6px #00000029;
    }
}

#header .header-column .header-row {
    justify-content: inherit;
}

/* Home Page - Hero Section */
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensures full-screen height */
    overflow: hidden;
    display: flex;
    text-align: center;
    padding: 2rem; /* Adds padding for better mobile spacing */
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    margin-left: 10%;
}

.hero-overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.53;
    z-index: 2;
    pointer-events: none;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.logo-container {
    margin-bottom: 25%;
}

.logo-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.gutter-x-0 {
    --bs-gutter-x: 0;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
    .hero {
        min-height: 80vh;
        padding: 1rem;
    }

    .hero-overlay {
        padding: 1rem;
    }

    .logo-container img {
        max-width: 300px;
    }
}

@media (max-width: 568px) {
    .hero {
        min-height: 70vh;
    }

    .logo-container img {
        max-width: 200px; /* Scales down on tablets */
    }
}


.signup-button {
    background: var(--blue-color) 0% 0% no-repeat padding-box !important;
    border: 1px solid var(--blue-color) !important;
    border-radius: 8px !important;
    opacity: 1;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.875rem 2.625rem;
}

.login-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #518CB7;
    border-radius: 8px;
    opacity: 1;
    color: var(--blue-color);
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.875rem 2.625rem;
}

/* Our Vision Section */

.our-vision {
    max-width: 1364px;
    margin: auto;
}

.our-vision-title {
    min-width: 33.3vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 100%;
    width: calc(100% / 12 * 5);
    padding-inline: 50px;
}

@media (max-width: 991px) {
    .our-vision-title {
        width: 100%;
        justify-content: center;
        justify-items: center;
        /* padding-inline: 5vw; */
    }
}

.our-vision-title h1 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}


.our-vision-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Us Section */

.about-us {
    justify-items: center;
    max-width: 1364px;
    margin: auto;
    padding: 3rem;
}

.about-us-title {
    width: 838px;
    text-align: center;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.about-us-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.eu-logo-image {
    max-width: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {

    .about-us {
        padding-left: 0;
        padding-right: 0;
    }

    .about-us-image {
        max-width: 50%;
    }

    .eu-logo-image {
        max-width: 35%;
    }

    .about-us-title {
        width: 100vw;
    }
}

/* Why Choose Section*/

.why-choose {
    max-width: 1364px;
    margin: auto;
}

.why-choose-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    width: 75vw;
    margin-left: auto;
    text-align: left;
    padding-inline: 50px;
}

.why-choose-title h1 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

.why-choose-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
    .why-choose-title {
        width: 100%;
        justify-content: center;
        justify-items: center;
        padding-inline: 5vw;
    }

    .why-choose-image {
        max-width: 70%;
        display: block;
        /* Removes any inline alignment issues */
        margin: 0 auto;
    }
}


/* Sign Up Section */

.why-signup-box {
    max-width: 40%;
    background-color: var(--light-blue-color);
}

.why-signup {
    max-width: 1364px;
    margin: auto;
    gap: 80px;
    justify-content: center;
}

.why-signup-title {
    min-width: 70vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 100%;
    width: calc(100% / 12 * 5);
    padding-inline: 50px;
}

@media (max-width: 991px) {
    .why-signup-title {
        width: 100%;
        justify-content: center;
        justify-items: center;
        padding-inline: 5vw;
    }

    .why-signup {
        flex-direction: column;
        gap: 30px;
        /* Adds spacing between stacked boxes */
        align-items: center;
    }

    .why-signup-box {
        max-width: 100%;
        /* Full width for better spacing */
        text-align: center;
    }
}

.why-signup-title h1 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}


/* Join Us Section */

.join-us {
    max-width: 1364px;
    margin: auto;
    justify-content: center;
}

.join-us-btn {
    height: 78px;
    font-size: 1.875rem;
    font-weight: 500;
    padding: 15px 50px;
    color: #518cb7;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.join-us-btn:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {
    .join-us {
        flex-direction: column;
        text-align: center;
    }

    .join-us-btn {
        width: 100%;
        max-width: 300px;
        height: auto;
        font-size: 1.5rem;
        margin-top: 20px;
        text-align: center;
    }
}

/* Logo Grid */

.partners {
    justify-items: center;
    max-width: 1364px;
    margin: auto;
}

.partners-title {
    width: 838px;
    text-align: center;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.grid-logo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.angry-grid {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    height: 100%;
    padding: 100px;
}

@media (max-width: 991px) {
    .angry-grid {
        gap: 40px;
        padding: 10px;
    }
}

#item-0,
#item-1,
#item-2,
#item-3,
#item-4,
#item-5,
#item-6,
#item-7,
#item-8,
#item-9,
#item-10,
#item-11,
#item-12,
#item-13,
#item-14,
#item-15,
#item-16,
#item-17,
#item-18,
#item-19,
#item-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 334px;
    max-height: 186px;
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .partners-title {
        width: 100vw;
    }
}

/* Contact Us */

.contact-us {
    max-width: 1364px;
    margin: auto;
}

.contact-us-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    width: 75vw;
    margin-left: auto;
    text-align: left;
    padding-inline: 50px;
}

.contact-us-title h1 {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
    .contact-us-title {
        width: 100%;
        justify-content: center;
        justify-items: center;
        padding-inline: 5vw;
    }

    .mobile-nav {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

.contact-submit-btn {
    display: flex;
    /* Enables flexbox */
    align-items: center;
    /* Centers text vertically */
    justify-content: center;
    /* Centers text horizontally */
    text-align: center;
    /* Ensures text alignment */
    width: 100%;
    /* Ensures it takes full width */
    max-width: 600px;
    /* Adjust as needed */
    padding: 15px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background: #518CB7;
    /* Adjust color if needed */
    border-radius: 8px;
    border: none;
    text-decoration: none;
    /* Removes underline */
    transition: opacity 0.3s ease-in-out;
}

.contact-submit-btn:hover {
    opacity: 0.8;
}


.contact-us input {
    width: 440px;
}

.wave-img {
    z-index: -1;
    object-fit: cover;
}

@media (max-width: 991px) {
    .wave-img {
        top: 100px;
    }
}

@media (max-width: 568px) {
    .wave-img {
        top: -50px !important;
    }
}

/* Footer */

.footer-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 217px;
    padding: 24px 5%;
    gap: 24px;
}

.footer-logo {
    max-width: 270px;
    margin-bottom: 29px;
}

.horizon_text {
    margin-top: 25px;
    max-width: 255px;
}

/* Signup-Login page */

.pt-103 {
    padding-top: 103px !important;
}

.signup-logo-image-container {
    max-width: 536px;
}

.signup-text-container {
    max-width: 722px;
    margin-left: auto;
    margin-right: auto;
}

.line-height-initial {
    line-height: initial !important;
}

.me-custom {
    margin-right: 1.25rem !important;
}

.address-container {
    margin-top: 0.313rem;
    display: flex;
    gap: 1rem; /* Adjust the gap between the input fields as needed */
}

.address-container .login_email_input {
    flex: 1; /* Ensure the input fields take equal space */
    max-width: 47.3%;
}

/*Search Component*/
.search_container {
    position: absolute;
    background-color: #FFFFFF;
    height: 4rem;
    max-width: 27.938rem;
    width: 100%;
    box-shadow: 0 0 6px #0000005E;
    border-radius: 20px;
    top: 2.375rem;
    left: 3.313rem;
    z-index: 1000;
}

.search_input {
    top: 2.375rem;
    left: 3.313rem;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 3rem;
}

.search_input:focus {
    border: none;
    outline: none;
}

.search_lens_icon {
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
}

/*Search Component*/

/*Market Place Calendar Component*/
/*==== Custom Header ====*/
.picker_custom_header_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.picker_custom_header_fromto_container {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.picker_custom_header_fromto_in_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

.picker_custom_header_input {
    background-color: #FFFFFF;
    color: var(--dark-text-color);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
}

.picker_custom_header_label {
    color: var(--dark-text-color);
}

.picker_custom_header_dt_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1rem;
    gap: 1rem;
}

.picker_custom_header_dt_arrow_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.125rem 1.25rem;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    cursor: pointer;
}

.picker_custom_header_dt_small_size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.picker_custom_header_dt_arrow {
    height: 0.938rem;
    width: auto;
}

/*==== Custom Header ====*/
/*==== Calendar Main Classes ====*/
.more_filters_calendar {
    background-color: #FFFFFF;
    border: 2px solid var(--blue-color);
    border-radius: 8px;
    padding: 1rem 1rem 1rem 3.188rem !important;
    min-width: 15.625rem;
    max-width: 25.625rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--dark-text-color);
}

.more_filters_calendar:focus-visible {
    outline: none;
}

.calendar_popper {
    transform: translate(50px, 106.25px) !important;
    box-shadow: 0 0 24px #00000063;
    border-radius: 8px !important;
}

/*==== Calendar Main Classes ====*/
/*====Datepicker Classes ====*/
.react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 1rem !important;
    cursor: pointer;
}

.react-datepicker {
    border: none !important;
    border-radius: 8px !important;
}

.react-datepicker__month-container {
    width: 100%;
}

.react-datepicker__week {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.react-datepicker__calendar-icon {
    width: 1.375rem !important;
    height: auto !important;
}

.react-datepicker__header {
    background-color: #FFFFFF !important;
    padding: 0 !important;
    border-bottom: none !important;
    border-radius: 8px !important;
}

.react-datepicker__day {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.react-datepicker__day-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: unset !important;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.react-datepicker__day--today {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: unset !important;
    /*border: 1px solid #000000;*/
    border-radius: 50%;
}

.react-datepicker__day--selected, .react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #000000 !important;
}

.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range {
    background-color: #B0FFFA !important;
    border-radius: 0 !important;
}

.react-datepicker__day--selected {
    background-color: var(--blue-color) !important;
    border-radius: 50% !important;
    border-right: 4px solid #FFFFFF;
    margin-right: -0.3rem !important;
    z-index: 1;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selecting-range-end, .react-datepicker__day--range-end {
    background-color: #00FFEE !important;
    border-radius: 50% !important;
    border-left: 4px solid #FFFFFF;
    margin-left: -0.3rem !important;
}

.react-datepicker__day--excluded, .react-datepicker__day--outside-month, .react-datepicker__day--weekend {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/*====Datepicker Classes ====*/
/*Market Place Calendar Component*/
