/* Listing View */

.listing-container {
    max-width: 1364px;
    margin: auto;
    padding: 0 15px;
}

/* Gallery */

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 14px;
    align-items: center;
    width: 100%;
    max-width: 1364px;
}

.main-image-container {
    grid-column: 1 / 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
}

.thumbnails-container {
    cursor: pointer;
    display: grid;
    height: 100%;
    width: 100%;
    max-height: 505px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.thumbnail:hover {
    transform: scale(1.02);
}

.active-thumbnail {
    border-color: var(--blue-color);
}

.profile-pic {
    width: 111px;
    height: 111px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Tech Specs Table */

.listing-table {
    width: 100%;
    border-collapse: collapse;
}

.listing-table th {
    border: 1px solid var(--grey-white-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--default-text-color);
    align-content: start;
    background-color: #F8F8F8;
    padding: 20px;
}

.listing-table td {
    border: 1px solid var(--grey-white-color);
    font-size: 1rem;
    font-weight: 400;
    color: #707070;
    padding: 20px;
    border: 1px solid var(--grey-white-color);
}

.listing-table-section {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Support Materials */

.pdf-item {
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 15px;
}

/* Location and Delivery Options */

.delivery-option-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.delivery-option {
    flex: 1;
    min-width: 320px;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 15px;
    margin: 12px 0;
}

.special-reqs {
    border: 1px solid #AF4C20;
    border-radius: 8px;
    padding: 15px;
}

.special-reqs h6 {
    color: #AF4C20;
}

.renter-reqs {
    border: 1px solid var(--blue-color);
    border-radius: 8px; 
    padding: 15px;
}

.renter-reqs h6 {
    color: var(--blue-color);
}


/* Sticky Right Column */

.card,
.profile-card,
.labor-card {
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
}

.profile-pic-sm {
    width: 53px;
    height: 53px;
    object-fit: cover;
    margin-bottom: 10px;
}

.sticky-column {
    position: sticky;
    margin-top: 25px;
    top: 150px;
    max-width: 100%;
}

.text-end {
    text-align: right;
}

.date-range {
    border: 2px solid var(--blue-color);
    border-radius: 8px;
    padding: 16px;
    font-size: 1rem;
    color: var(--dark-text-color);
    font-weight: 500;
}

.send-request-btn {
    width: 100%;
    padding: 15px;
    color: white;
    background: var(--unnamed-color-518cb7) 0% 0% no-repeat padding-box;
    background: #518CB7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    border: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.send-request-btn:hover {
    opacity: 0.7;
}

.view-profile-btn-sm {
    align-self: flex-end;
    max-width: 138px;
    padding: 16px 24px;
    color: var(--blue-color);
    background: white;
    border: 1px solid #518CB7;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.view-profile-btn-sm:hover {
    opacity: 0.7;
}

.map-container {
    height: 43rem;
}

/* Responsive Adjustments */

@media (max-width: 991px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .thumbnails-container {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        max-height: 300px;
    }

    .thumbnail {
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 768px) {
    .listing-container {
        padding: 0 10px;
    }

    .gallery-container {
        gap: 8px;
    }

    .gallery-grid {
        gap: 10px;
    }

    .card,
    .profile-card,
    .labor-card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .listing-table th,
    .listing-table td {
        padding: 8px;
    }
}

.rental-card-container {
    width: 100%;
    overflow: hidden;
}

.rental-gallery-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.rental-card-scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
}

.rental-card-scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.rental-card-track {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}

.rental-card-track > * {
    flex: 0 0 auto; /* Maintain original card size */
}

.scroll-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.scroll-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}