.login_container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.password_recovery_container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.password_recovery_not_recieve {
    color: #545454;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.login_label {
    color: #57574F;
}

.login_email_input {
    background-color: #FFFFFF;
    border: 1px solid #E6E2DB;
    border-radius: 8px;
    height: 3.063rem;
    max-width: 440px;
    padding-left: 0.938rem;
}

.login_email_input:focus {
    outline: 1px solid #827E74;;
}

.login_text {
    color: #B7B2A7;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.login_text span {
    text-decoration: underline;
    cursor: pointer;
}

.login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    background-color: var(--blue-color);
    box-shadow: 0 3px 6px #00000029;
    border-radius: 17px;
    margin-bottom: 0.5rem;
    height: 3.625rem;
    max-width: 440px;
    text-decoration: none;
}

.login_pass_eye_container {
    position: relative;
    border-radius: 8px;
    height: 3.063rem;
    max-width: 440px;
}

.login_pass_eye {
    position: absolute;
    width: 1.25rem;
    right: 0.938rem;
    cursor: pointer;
    background-color: #FFFFFF;
}

.login_password_input {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #E6E2DB;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding-left: 0.938rem;
}

.login_password_input:focus {
    outline: 1px solid #827E74;;
}

@media only screen and (max-width: 500px) {
    .login_button {
        height: 3.625rem;
        max-width: 440px;
        width: 100%;
    }
}
