.marketplace_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.marketplace_filters_container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 30%;
}

.more_filters_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 2.375rem 3.125rem 1rem 3.125rem;
    width: 100%;
    height: 13.313rem;
    border-right: 1px solid var(--grey-white-color);
    box-shadow: 0 3px 0 #00000029;
}

.more_filters_btns_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.more_filters_btn_clear {
    color: var(--blue-color);
    cursor: pointer;
}

.more_filters_btn_more {
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    padding: 1rem;
    max-width: 9.75rem;
    width: 100%;
    cursor: pointer;
}

.common_filters_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid var(--grey-white-color);
    padding: 1.5rem 3.125rem;
}

.common_filters_label {
    color: #707070;
}

.common_filters_checkbox_cont {
    display: flex;
    align-items: center;
    color: var(--light-grey-color);
    margin-bottom: 1.375rem;
    gap: 1.313rem;
}

.common_filters_checkbox {
    cursor: pointer;
    width: 1.313rem;
    height: 1.313rem;
}

.common_filters_bar_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.common_filters_bar_minmax_inputs_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.common_filters_bar_input {
    text-align: center;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 0.5rem;
    max-width: 4.75rem;
    width: 100%;
}

.custom_div_icon_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom_div_icon_content {
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: 3px solid var(--dark-blue-color);
    border-radius: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    cursor: pointer;
}

.custom_div_icon_arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 17px solid var(--dark-blue-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    cursor: pointer;
}

.map_switch_container {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    background-color: #E1E1E1;
    box-shadow: 0 0 6px #0000005E;
    border-radius: 20px;
    max-width: 14.75rem;
    width: 100%;
    height: 4rem;
    top: 2.375rem;
    right: 1.813rem;
    z-index: 1000;
}

.map_switch_default {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8F8F8F;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.map_switch_default_selected {
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #0000005E;
    border-radius: 20px;
}

.marketplace_gallery_container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.marketplace_gallery_header_container {
    position: relative;
    border-bottom: 1px solid var(--grey-white-color);
    box-shadow: 0 3px 0 #00000029;
    height: 8rem;
    width: 100%;
}

.marketplace_gallery_body_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 11rem;
    gap: 3rem;
}

.common_filters_slider > .rc-slider-track, .common_filters_slider > .rc-slider-tracks {
    background-color: var(--blue-color);
}

.common_filters_slider > .rc-slider-handle {
    background-color: var(--blue-color);
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 6px #00000085;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: 0;
    opacity: 1;
}

.common_filters_slider > .rc-slider-dot-active {
    background-color: var(--blue-color);
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 6px #00000085;
}

.common_filters_slider > .rc-slider-dot {
    background-color: var(--blue-color);
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 6px #00000085;
}

.common_filters_slider.rc-slider-horizontal {
    display: flex;
    align-items: center;
}
