.my_listings_container {
    display: flex;
    flex-direction: column;
    padding: 3.563rem 5rem 3.563rem 5rem;
    gap: 2.75rem;
}

.my_listings_head_btns_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.my_listings_head_btn_all {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    padding: 0.594rem;
    max-width: 10.625rem;
    width: 100%;
    height: 2.438rem;
    cursor: pointer;
}

.my_listings_head_btn_new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    padding: 0.875rem;
    max-width: 16.375rem;
    width: 100%;
    margin-left: auto;
    cursor: pointer;

    span {
        color: #FFFFFF;
    }
}

.my_listings_cards_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.new_listing_modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.75rem;
    padding: 13.563rem 1rem;
    gap: 3rem;
}

.new_listing_modal_head {
    /*align-self: start;*/
}

.new_listing_modal_cards_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.new_listing_modal_card_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 0 18px #00000029;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    height: 15.188rem;
    width: 24.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.new_listing_modal_card_image {
    height: auto;
    width: 7.25rem;
}


@media screen and (max-width: 760px) {
    .my_listings_container {
        padding: 3.563rem 1rem 3.563rem 1rem;
    }

    .new_listing_modal_card_cont {
        max-width: 24.25rem;
        width: 100%;
        margin-right: 0.5rem;
    }
}
