.my_organization_details_container {
    display: flex;
    flex-direction: column;
    max-width: 66.813rem;
    width: 100%;
    margin: 3.563rem auto;
    gap: 1.25rem;
}

.my_organization_details_cards_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.my_organization_details_card_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 0.75rem;
}

.my_organization_details_logo_card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding-left: 5.063rem;
    padding-right: 5.063rem;
    width: 100%;
}

.my_organization_details_logo_img {
    width: 100%;
    height: auto;
    max-height: 80%;
}

.my_organization_details_logo_btn {
    background: var(--blue-color) 0% 0% no-repeat padding-box !important;
    border: 1px solid var(--blue-color) !important;
    border-radius: 8px !important;
    opacity: 1;
    color: white;
    font-weight: 500;
    padding: 0.875rem 2.625rem;
}

.my_organization_details_card_details {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 50%;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 1.5rem 2.688rem;
    gap: 0.813rem;
}

.my_organization_details_card_map {
    background-color: #FFFFFF;
    width: 50%;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
}

.my_organization_details_card_details_info {
    background-color: #FFFFFF;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
}

.my_organization_details_card_description_textarea {
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
}

.my_organization_details_button {
    background: var(--blue-color) 0% 0% no-repeat padding-box !important;
    border: 1px solid var(--blue-color) !important;
    border-radius: 8px !important;
    opacity: 1;
    color: white;
    font-weight: 500;
    padding: 0.875rem 2.625rem;
    width: 49%;
    margin-left: auto;
}

.my_organization_details_invite_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    color: #FFFFFF;
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    max-width: 14.313rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    cursor: pointer;
}

.invitation_modal {
    width: 100%;
    max-width: 60rem;
}

.fade.modal.show {
    padding-left: 0 !important;
}

.invitation_modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 3px 31px #00000029;
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
    padding: 5rem 12.688rem;
    /*max-width: 60rem;*/
    /*width: 60rem;*/
    gap: 0.5rem;
}

.invitation_modal_header {
    color: var(--blue-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.invitation_modal_text {
    color: var(--default-text-color);
    text-align: center;
    margin-bottom: 2.5rem;
}

.invitation_modal_label {
    margin-right: auto;
    align-self: start;
    color: var(--dark-text-color);
}

.invitation_modal_input_email {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.invitation_modal_btns_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.688rem;
}

.invitation_modal_cancel_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: var(--blue-color);
    border: 1px solid #46799E;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 8px;
    padding: 1rem;
    max-width: 16.875rem;
    width: 100%;
    cursor: pointer;
}

.invitation_modal_send_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A4BD00;
    color: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 8px;
    padding: 1rem;
    max-width: 16.875rem;
    width: 100%;
    cursor: pointer;
}


@media screen and (max-width: 1350px) {
    .my_organization_details_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .my_organization_details_cards_row {
        flex-wrap: wrap;
    }

    .my_organization_details_card_logo {
        width: 100%;
    }

    .my_organization_details_card_details {
        width: 100%;
    }

    .my_organization_details_card_map {
        width: 100%;
        height: 20rem;
    }
}
