.profile-nav-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 15px #00000029;
    min-height: 75vh;
    position: sticky;
    max-width: 282px;
}

.custon-mt {
    margin-top: 10rem;
}

.custom-mb {
    margin-bottom: 10rem;
}

.navbutton {
    background: transparent;
    border: none;
    color: #4D4D4D;
    padding: 1rem;
    margin-left: 15%;
    text-align: left;
}

.navbutton:hover,
.navbutton.active {
    color: #518CB7;
    border-left: 1px solid #518CB7;
}

hr {
    border: 0;
    height: 1px;
    background: #707070;
    margin: 1.5rem 0;
}

.profile-details-container {
    max-width: 1076px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.profile-picture-container {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto; 
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change-details-button {
    background: var(--blue-color) 0% 0% no-repeat padding-box !important;
    border: 1px solid var(--blue-color) !important;
    border-radius: 8px !important;
    opacity: 1;
    color: white;
    font-weight: 500;
    padding: 0.875rem 2.625rem;
}

.personal-details,
.address-details,
.socials-authentication {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E2DB;
    border-radius: 8px;
    opacity: 1;
    padding: 1.438rem 2.688rem;
}

.address-details-container {
    display: flex;
    flex-direction: column;
}

.address-details {
    flex: 1;
}

.socials-authentication {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech_side_menu_card.card {
    width: 8rem;
    border: none;
    border-radius: 0 35px 35px 0;
    box-shadow: 0 0 6px #00000029;
    padding: 1.431rem 1.536rem 1.431rem 0.8rem;
}

.pagin_arrow_button {
    padding: 0;
    border: none;
    background-color: #FFFFFF;
}

.menu_sidebar_icon {
    width: 1.6725rem;
    height: 1.635rem;
}

.offcanvas-backdrop.show {
    opacity: 75% !important;
    background-color: #FFFFFF;
}

.offcanvas-backdrop {
    top: 7.9rem !important;
}

.offcanvas.offcanvas-start {
    top: 3.9rem !important;
    background-color: #FFFFFF !important;
    box-shadow: 3px 0 6px 0 #00000029 !important;
}

.tech_sidebar_list_cont {
    padding-top: 2.6rem;
}

@media only screen and (max-width: 991px) {
    #side_offcanvas.offcanvas {
        position: absolute;
        width: fit-content !important;
        box-shadow: 0 0 6px #00000029;
        border-radius: 0 36px 36px 0;
        border: none;
        bottom: unset;
    }

    #side_offcanvas.offcanvas.offcanvas-start {
        top: 9.05rem !important;
    }
}