.exit-btn {
    background: #A2A2A2 0% 0% no-repeat padding-box;
    border: 1px solid #A2A2A2;
    border-radius: 8px;
    opacity: 1;
    padding: 0.813rem 2.438rem 0.938rem 2.438rem;
    text-align: center;
}

.navbutton {
    margin-left: 10%;
    margin-right: 5%;
}

.profile-view-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-view-content .content {
    flex-grow: 1;
}

.profile-view-content .navigation-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 15px #00000029;
    align-items: center;
}

.profile-view-content .navigation-buttons {
    border: 1px solid var(--blue-color);
    background: var(--blue-color);
    color: white;
    border-radius: 8px;
    padding: 0.813rem 1.25rem 0.938rem 1.25rem;
    margin-top: 2.938rem;
    margin-bottom: 3.063rem;
}

.profile-view-content .navigation-buttons.btn:disabled {
    color: var(--blue-color);
    background: #FFFFFF;
    opacity: 1;
}

.custom-mr-60 {
    margin-right: 3.75rem;
}   

.custom-ml-60 {
    margin-left: 3.75rem;
}