.register_dropdown_container {
    position: relative;
    display: inline-block;
    margin-bottom: 0.313rem;
}

.register_arrow_button_container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 3.125rem;
    width: 100%;
    padding-left: 0.938rem;
    cursor: pointer;
}

.register_btn_arrow {
    position: absolute;
    height: 0.313rem;
    width: 0.438rem;
    right: 0.938rem;
    background-color: #FFFFFF;
}

.register_button_content_container {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #827E74;
    border-radius: 8px;
    width: 100%;
    max-height: 12.5rem;
    overflow-y: auto;
    margin-top: 0.313rem;
    z-index: 1;
}

.register_button_content {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: #827E74;
    width: 100%;
    padding-left: 0.938rem;
    height: 3.125rem;
    cursor: pointer;
}

.register_button_content:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.register_button_content:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.register_button_content:hover {
    background-color: #F2F0ED;
}
