:root {
    --light-blue-color: #EEF3F6;
    --dark-text-color: #57574F;
    --grey-brown-color: #827E74;
    --light-grey-color: #B7B2A7;
    --blue-color: #518CB7;
    --very-dark-blue-color: #000029;
    --very-light-blue-color: #f6fbff;
    --grey-color: #A8A8A8;
    --grey-white-color: #E6E2DB;
    --faded-grey-color: #B9B9B9;
    --dark-blue-color: #05668C;
    --lime-green-color: #C5E300;
    --green-color: #A4BD00;
    --default-text-color: #4d4d4d;
}

.rental-card {
    border: 1px solid #e6e2db;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rental-image-container {
    position: relative;
}

.rental-card-image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    cursor: pointer;
}

.rental-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: white;
    color: var(--blue-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid var(--blue-color);
    cursor: pointer;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 8px;
}

.next-button {
    right: 8px;
}

.image-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

.rental-card-content {
    padding: 16px;
}

.rental-card-title {
    font-size: 1.250rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.rental-card-subtext {
    color: var(--default-text-color);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 4px;
}

.rental-card-dates {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 8px;
}

.rental-card-price {
    font-size: 1.250rem;
    font-weight: 600;
    color: var(--default-text-color);
    margin-bottom: 16px;
}

.rental-card-footer {
    border-top: 1px solid #e6e2db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (min-width: 991px){
  .rental-card-footer{
    display: block;
  }
} */

.rental-profile-container {
    display: flex;
    align-items: center;
    padding: 16px;
}

.rental-profile-image {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.rental-profile-name {
    font-size: 1.250rem;
    margin-bottom: 0;
}

.rental-rating-container {
    display: flex;
    align-items: center;
    padding: 16px;
}

.rental-star {
    font-size: 1.250rem;
    color: var(--default-text-color);
    margin-right: 7px;
}

.rental-rating {
    font-size: 1.250rem;
    font-weight: 600;
    margin-bottom: 0;
}
