.signuplogin_container {
    display: flex;
    flex-direction: row;
    padding: 1.125rem;
    background-color: white;
}

.signuplogin_video_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 43.188rem;
    width: 100%;
    height: 61.75rem;
    border-radius: 17px;
    margin-right: 1.5rem;
}

.signuplogin_content_container {
    flex: 0 1 auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
}

.signuplogin_logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    justify-content: start;
    gap: 0.5rem;
    cursor: pointer;
}

.video_class {
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.signuplogin_athinaiki_logo {
    background: transparent;
    height: 8.25rem;
    width: auto;
}

.signuplogin_logo_text_container {
    background: transparent;
}

.signuplogin_logo_text {
    background: transparent;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 63px;
    font-weight: 700;
    font-style: italic;
}

.signuplogin_logo_text_spora {
    margin-top: -30px;
    margin-left: 5rem;
}

.signuplogin_hero_hr {
    border: 2px solid #FFFFFF;
    width: 100%;
}

.signuplogin_content_text_header {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    word-wrap: break-word;
}

.signuplogin_content_text {
    color: #FFFFFF;
    text-align: center;
    word-wrap: break-word;
}

.signuplogin_form_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.906rem;
    padding-bottom: 1.906rem;
}

.password_recovery_welcome_txt {
    text-align: center;
}

.welcome_txt_1 {
    color: var(--blue-color);
    margin: 0;
}

.welcome_txt_2 {
    color: #827E74;
    margin: 0;
}

.signuplogin_buttons_container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E6E2DB;
    border-radius: 17px;
    height: 4.25rem;
    max-width: 440px;
    margin-top: 2rem;
    padding: 0.313rem;
}

.signuplogin_button_enabled {
    background-color: #FFFFFF;
    color: #827E74;
    border-radius: 17px;
    border: none;
    box-shadow: 0 3px 6px #00000029;
    width: 50%;
    height: 100%;
    cursor: default !important;
}

.signuplogin_button_disabled {
    background-color: transparent;
    color: #B7B2A7;
    border: none;
    width: 50%;
    height: 100%;
}

.signuplogin_terms {
    color: #B7B2A7;
    margin-top: auto;
}

.signuplogin_terms a {
    text-decoration: none;
    color: #57574F;
}

@media only screen and (max-width: 1024px) {
    .signuplogin_container {
        flex-direction: column;
        padding: 1.125rem;
        background-color: white;
    }

    .signuplogin_video_container {
        max-width: unset;
        width: 100%;
        max-height: 35.313rem;
        height: 100%;
    }

    .signuplogin_athinaiki_logo {
        height: 4rem;
        width: auto;
    }

    .signuplogin_logo_text {
        font-size: 35px;
    }

    .signuplogin_logo_text_spora {
        margin-top: -20px;
        margin-left: 3rem;
    }

    .signuplogin_content_text_header {
        font-size: 25px;
    }

    .signuplogin_content_text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .signuplogin_container {
        padding: 1rem;
    }

    .signuplogin_athinaiki_logo {
        height: 2.5rem;
        width: auto;
    }

    .signuplogin_logo_text {
        font-size: 20px;
    }

    .signuplogin_logo_text_spora {
        margin-top: -10px;
        margin-left: 1.7rem;
    }

    .signuplogin_content_text_header {
        font-size: 15px;
    }

    .signuplogin_content_text {
        font-size: 8px;
    }

    .signuplogin_buttons_container {
        height: 4.25rem;
        width: 100%;
    }
}
