.technical_char_container {
    display: flex;
    flex-direction: row;
    padding: 4.5rem;
    gap: 6.375rem;
}

.technical_char_column_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

.technical_char_column_label_description {
    border: 1px solid var(--grey-white-color);
    border-radius: 8px;
}

.technical_char_column_label_char {
    color: #707070;
}


@media screen and (max-width: 760px) {
    .technical_char_container {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .technical_char_column_container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .technical_char_container {
        padding: 1rem;
    }
}
