.sticky-toast {
    position: fixed !important;
    right: 3rem;
    z-index: 1050; 
    border-radius: 10px;
    width: 4.167rem!important;
    height: 4.167rem!important;
    overflow: hidden;
    transition: width 0.3s ease;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y : auto !important;
    max-height: 4rem;
}

.sticky-toast.show {
    opacity: 1;
}

.sticky-toast:hover {
    width: 20rem!important;
    justify-content: flex-start;
    height: auto !important;
    max-height: 20rem !important;;
}

.toast-icon {
    transition: opacity 0.3s ease;
}

.sticky-toast:hover .toast-message-container {
    margin-left: 2rem;
    width: 18rem!important;
    min-height: 4.167rem!important;
    height: auto !important;
}

.toast-message {
    opacity: 0;
    transition: opacity 0.1s ease;
    color: black;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    max-width: 15rem;
    margin-right: 1rem;
}

.sticky-toast:hover .toast-message {
    opacity: 1;
    display: flex;

}

.toast-message-item {
margin-bottom: 0.5rem;
}

.sticky-toast:hover .toast-icon {
    opacity: 0;
    display: none;
}

.close-toast-icon {
    background-color: transparent;
}

.sticky-success-toast {
    /* top: 10rem; */
    background-color: #90B249;
}

.sticky-success-toast:hover {
    background: linear-gradient(to right, #F2F9E3 calc(100% - 0.611rem), #90B249 calc(100% - 1rem));
    z-index: 10001;
}

.sticky-error-toast {
    /* top: 15rem; */
    background-color: #B85B31;
}

.sticky-error-toast:hover {
    background: linear-gradient(to right, #FFE7E0 calc(100% - 0.611rem), #B85B31 calc(100% - 1rem));
    z-index: 10001;
}

.sticky-warning-toast {
    /* top: 20rem; */
    background-color: #D99D29;
}

.sticky-warning-toast:hover {
    background: linear-gradient(to right, #FFF1DB calc(100% - 0.611rem), #D99D29 calc(100% - 1rem));
    z-index: 10001;
}


.sticky-info-toast {
    /* top: 25rem; */
    background-color: #62ACED;
}

.sticky-info-toast:hover {
    background: linear-gradient(to right, #E0EEFB calc(100% - 0.611rem), #62ACED calc(100% - 1rem));
    z-index: 10001;
}